
:root
{
  --bg-color:linear-gradient(to left, rgb(241, 85, 228),#30D5C8);
  --Trcois-clr:rgb(31, 247, 236);
  --blue-clr:rgb(31, 132, 247);
  --S-w-clr1:rgb(241, 207, 12);;
  --S-w-clr2:#F5A31B;

}
body
{
  overflow-x:hidden;
/* overflow: hidden; */
}
.fa-brands
{
    background:var(--bg-color);
    padding: 0.5rem;
    border-radius: 4px;
    color: #fff;
width: 35px;
text-align: center;        
/* font-size: 1.2rem; */
    height: 100%;
}

header .nav-item
{
    font-size: 1.2rem;
    margin:.5rem;

    /* border-radius: 4px; */
    border-bottom: 2px solid transparent;
}
header .nav-item:hover
{
  border-bottom: 2px solid #fff;
}

.dropdown-menu
{
  width: 1400px;
  height: 420px;
  background-size: cover;
background-repeat: no-repeat no-repeat;
  background-image:linear-gradient(rgba(0,0,0,0.56) , rgba(0,0,0,0.1234)), url(https://images3.alphacoders.com/105/105487.jpg);
}

.dropdown-menu:nth-child(2)
{
    width: 1400px;
    height: 420px;
    background: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(3px);
    /* background-size: cover; */
    /* background-repeat: no-repeat no-repeat; */
    /* background-image:linear-gradient(rgba(192, 25, 25, 0.56) , rgba(192, 26, 26, 0.781)), url(https://images3.alphacoders.com/105/105487.jpg); */
}

.dropdown-item:hover
{
  background: rgba(0, 0, 0, 0.5);
}


.holidays img
{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  transform: translateX(-6%);
}
.hm-title
{
position: relative;
text-align: center;
font-size: 26px;
letter-spacing: 1px;
padding-bottom: 13px;
margin-bottom: 29px;

margin-top: 29px;    font-weight: bold;
color: #0a0808;

}
.hm-title::before 
{
content: '';
position: absolute;
bottom: 0px;
width: 65%;
left: 0;
height: 1px;
background-color: #feca0a;
margin: 0 auto;
right: 0;
}
.hm-title::after {
content: '';
position: absolute;
bottom: 0px;
left: 0;
right: 0;
width: 30%;
height: 2px;
background-color: #d612cc;
margin: 0 auto;
}
.holidays.holidays-lg 
{
width: 99%;
border-radius: 35px;
min-height: 70px;
display: flex;
align-items: center;
}

.holidays
 {
display: inline-block;
padding: 0 12px;
margin-right: 1rem;
margin-bottom: 1rem;
color: rgba(0,0,0,0.6);
cursor: pointer;
background-color: #eceff1;
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);

}
.holidays h4
{
width: 100%;
padding: 6px;

}
.holidays h4 a
{
float: right;
 font-size: 17px;
 text-decoration: none;
 color: black;


}
.card
{
  /* height: 10rem; */
  /* position: relative; */
  overflow: hidden;
}
.card:hover img
{
transform: rotate(5deg) scale(2);
}
.card img
{
  transition:  all 500ms;
}

.card-body
{
  border-bottom: 2px solid transparent;
  transition: border-bottom 500ms;
}
.card:hover .card-body {
  border-bottom: 2px solid red;
}
footer
{
  margin-top: 3rem;

  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
  position: relative;
}
footer .grop
{
/* background-color: red; */
height: 30vh;
}
.grop a
{
color: #252525;
font-size: 1.1rem;
margin: 0.5rem;
}
.footer_social_links
{
  float: bottom;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color:#f3f3f3;
  border-top: 1px solid #ccc;
}
.footer_social_links ul a
{
  margin: 1rem;
}
.footer_social_links ul li
{
  list-style: none;
  border: 2px solid #ccc;
  border-radius: 12px;
  height: 3rem;
  width: 3rem;
}
.footer_social_links ul  i
{
  padding: 0.8rem ;
  font-size: 1.3rem;
  color: #ccc;
} 
.footer_social_links ul li:hover
{
  border:  2px solid #30D5C8;
}
.footer_social_links ul  i:hover
{
  color: #30D5C8;
}

/* 7 wonder style */
.program_box_title
{
  font-size: 2rem;
  font-weight: 550;
}
.program_box_icons_subtext
{
  font-weight: 550;
  font-size: 1.1rem;
}
.program_box_icons_text
{
  color: #F5A31B;
}
.program_box_icons_img
{
  border: 2px solid #ccc;
  border-radius: 50%;
}
.program_box_icons_img:hover
{
  border: 2px solid #F5A31B;
  box-shadow: 0 0 020px 0px rgba(177,177,177,.5);
}

    .program_itinerary_all_box {
        height: 700px;
        overflow-y: scroll;
    }
    /* width */
    .program_itinerary_all_box::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .program_itinerary_all_box::-webkit-scrollbar-track {
        background: #fff;
        border: 1px solid #EEEEEE;
    }

    /* Handle */
    .program_itinerary_all_box::-webkit-scrollbar-thumb {
        background: #757575;
    }

    /* Handle on hover */
    .program_itinerary_all_box::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }

    .program_itinerary_box {
        padding: 10px 30px 10px 30px;
        position: relative;
    }
    .program_itinerary_box:before {
        content: "";
        height: 100%;
        position: absolute;
        width: 1px;
        left: 12px;
        top: 0;
        z-index: 2;
        background-color: rgba(177,177,177,.5);
    }
    .program_itinerary_box_title {
        font-weight: bold;
        font-size: 1.538rem;
        color: #212121;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
    }
    .program_itinerary_box_title:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        left: -30px;
        top: 0;
        z-index: 2;
        background-color: #F5A31B;
        border-radius: 50%;
    }
    .program_itinerary_box_title h2 {
        font-size: 1.538rem;
    }
    .program_itinerary_box_desc {
        font-size: 1.154rem;
        color: #212121;
    }
    .mapboxgl-marker {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color:#F5A31B;
    }
    .program_itinerary_all{
        border: 1px solid #EEEEEE;
        margin-bottom: 50px;
    }